# PowerShell
*.ps1~
*.swp
*~

# Build outputs
*.exe
*.msi
*.zip
*.wixobj
*.wixpdb

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
doc-venv/
venv/
.venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.code-workspace
